logs/images/*.png
logs/images_good/*.png
logs/images_bad/*.png
logs/*.net
logs/*.net.old
samples/*.jpg
r_results/*.jpg
images/*.xcf
images/clusters/
images/similar/
images/fixed_images_528.jpg
images/fixed_images_528_unfixed.jpg

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

